* {
  text-decoration: none;
  list-style: none;
}


/*  Styles  */

h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

h1, .myHeadings {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
  /* text-align: center; */
  padding-left: 5%;
  color: #0c0244;
}

h2 {
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 30px;
  padding-right: 7%;
  color: #b72a98;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0c0244;
}

h4 {
  font-weight: 100;
  font-size: 16px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 700px;
  padding-right: 10%;
  color: #0c0244;
}

.paragraph {
  margin: 20px 0;
}

/* General */

.container {
  padding: 10px 5% 30px 5%;
}

.sidebar-col {
  padding-left: 20px;
}

.list-section {
  border-left: 2px solid #A9A9A9;
}

/* Buttons */

.btn-secondary {
  color: white;
  border: 0px;
  width: 33%;
  margin: 0 33% 0 33%;
}

/* Blog */

.blog-post-div {
  margin: 10px 0;
  padding: 10px 0;
}

/* Form */

input {
  border: 0px;
  border-radius: 5px;
}

#searchsubmit {
  color: white;
  background-color: #FCAB51;
  border: 0px;
}

.wpforms-field-container input {
  background-color: #DCDCDC;
  border: 0px;
  border-radius: 5px;
}

.wpforms-field-label {
  font-family: 'Roboto', sans-serif;
}

#wpforms-submit-82 {
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: #FCAB51;
}

/*  Header */

.primary-nav {
  background-color: white;
}

.navbar {
  padding-left: 10%;
}

nav ul li {
   display: inline;
   padding: 9.5px 9.5px 0 9.5px;
   bottom: 0px;
   margin-bottom: none;
 }

nav ul li a {
   color: #022568;
   margin-right: 2rem;
 }

 .top-bar {
   margin-top: 1rem;
 }

 .menu-top-menu-container {
   width: 100%;
 }

 .main-nav ul ul {
    display: none;
}

.main-nav ul li:hover > ul {
    display: block;
}

.main-nav ul ul {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    z-index: 99999;
    width: 180px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.main-nav li {
    position: relative;
    padding-bottom: 20px;
}


.secondary-nav {
  padding-left: 6em;
}

.input #s {
  background-color: #E5E5E5;
}

 /* Footer */

 .footer {
    padding: 20px 7.5% 20px 7.5%;
    margin-top: 30px;
 }

 .footer p {
   color: white;
 }

.footer-text {
  color: white !important;
}
 .footer-center {
   text-align: center;
 }

.menu-footer-menu a {
  background-color: white;
}

.footer-byline {
  text-align: center;
}

.footer-byline a {
  font-style: italic;
  color: white;
}

.socialMediaLinks {
    font-size: 30px;
    margin: 0 10px 0 0;
    color: white;
    text-decoration: none;
}

.socialMediaLinks a:hover {
    color: #b72a98;
    text-decoration: none;
}

#menu-footer-menu li a {
  color: white;
}

 /* Home Page */

 .home-banner-img {
   /* width: 100%; */
   width: 100vw;
   min-height: 500px;
   height: 90vh;
   object-fit: cover;
   position: absolute;
   opacity: 0.5;
   /* display: inline-block; */
 }

 .home-landing-div {
   position: relative;
   height: 90vh;
   overflow: hidden;
   background-color: #022568;
   margin-bottom: 15px;
 }

 .home-title {
   text-align: left;
   padding-left: 0;
   width: 80%;
   margin-left: 10%;
   padding-top: 90px;
   color: white !important;
   max-width: none;
   font-size: 100px;
 }

 .important-text {
   color: #b72a98;
   text-align: center;
   font-size: 20px;
   line-height: 32px;
   font-weight: bold;
   padding: 15px 10px 0 0;
 }

 .home-landing-right {
   color: gray;
 }

 .home-center {
   padding: 10px 15% 10px 15%;
 }

/* Woocommerce */

 .button a, .woocommerce a.button {
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #FCAB51;
    font-weight: lighter;
}

.billingFields .form-row{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper input,
.billingFields .form-row .woocommerce-input-wrapper select{
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: #E5E5E5;
}

.billingFields .form-row .woocommerce-input-wrapper textarea{
    min-height: 200px !important;
    max-height: 800px !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}


@media  (max-width: 850px) {

.fa-bars {
  color:grey;
  font-size:28px;
}

.home-title {
  text-align: center;
  font-size: 70px;
}

.footer-center {
  text-align: left;
}

.page-div {
  padding-left: 5%;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

}

@media  (max-width: 500px) {

.home-title {
  font-size: 50px;
}

}
